<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/login.css">
  <title>Tienda Animex</title>
</head>

<body>
  <div class="container form" id="container">
    <form action="/login" method="POST" id="a-form" autocomplete="off">
      <div class="b1">
      <h1 class="form_tittle title">Login De Sesion De Inicio</h1>
        <div class="casillas">
          <input type="text" name="usuario" id="form__input" class="form__input" placeholder="User">
          <input type="password" name="password" id="form__input" class="form__input" placeholder="Password">
        </div>
        <div class="botones">
          <input type="submit" value="Ingresar" class="button">
          <button type="submit" class="button"><a href="/registrarce" class="btn btn-success">Registrarse</a>
        </div>
      </div>
    </form>
  </div>

</body>

</html>