<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- funciones javascript  -->

<!-- fin de funciones javascript -->

<!-- espacios de menu y logos de menu -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'>
<!-- fin de espacios de menu y logos de menu   -->

<!-- diseño de pagina -->
    <link rel="stylesheet" href="../css/paginamenu.css">
    <link rel="stylesheet" href="../css/registros y tablas.css">
  <link rel="stylesheet" href="../css/infor.css">
<!-- fin de diseño de pagina -->



    

    <title>ANIMEX</title>
</head>
<body>




  <!-- MENU DE INICIO -->

<nav class="navbar " id="menu">
    <a class="navbar-brand navbar-logo" href="/menu">ANIMEX</a>
   
    <ul>
      <li class="nav-item"><a class="nav-link" href="/usuarios"><i class="far fa-address-book"></i>USUARIOS</a></li>
      <li class="nav-item"><a class="nav-link" href="/clientes"><i class="far fa-clone"></i>CLIENTES</a></li>
      <li class="van-item"><a class="nav-link" href="/proveedores"><i class="far fa-clone"></i>PROVEEDORES</a>
      <li class="nav-item"><a class="nav-link" href="/reportes"><i class="far fa-copy"></i>REPORTES</a>
        <ul>
          <li class="nav-item"><a class="nav-link" href="tabla-1"><i class="far fa-address-book"></i>USUARIOS</a></li>
          <li class="nav-item"><a class="nav-link" href="tabla-2"><i class="far fa-clone"></i>CLIENTE</a></li>
          <li class="nav-item"><a class="nav-link" href="tabla-3"><i class="far fa-clone"></i>PROVEED</a></li>
          <li class="nav-item"><a class="nav-link" href="tabla-4"><i class="far fa-clone"></i>PRODUCT</a></li>
          <li class="nav-item"><a class="nav-link" href="tabla-5"><i class="far fa-clone"></i>VENTAS</a></li>
        </ul>
        
      <li><a href="/productos"><i class="far fa-calendar-alt"></i>PRODUCTOS</a>
      <li><a href="/ventas"><i class="far fa-chart-bar"></i>VENTAS</a>
      <li><a href="/cerrar"><i class="far fa-copy"></i>CERRAR</a>

      </li>




    </ul>
</nav>


<section >
  <div class="showcase">
      <header>
              <h1 class="logo">INFORMACION</h1>
              <div class="toggle"></div>
      </header>
 
      <div class="overlay"></div>
      <div class="text">
            <h2>SOBRE NOSOTROS</h2> 
            <h3>NUESTRO SERVICIO</h3>
                <p>Para poder ver nuestras tablas y poder ingresar, actualizar, eliminar o consultar un dato porfavor
                   dirijase a la parte superior donde se encuentra las hubicaciones. 
                </p>

                <p>Nuestra pagina ofrece un servicio de compra y venta de obgetos y figuras de accion
                    las cuales se les proporcionara desde una base de datos.
                </p>
    </div>
</div>

</section>



</body>
</html>  